name: Reusable deploy
on:
  workflow_call:
    inputs:
      artifact-name:
        description: Any artifact name
        required: true
        default: dist
        type: string
jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
      - name: Deploy
        run: echo "deploying project..."